@rendermode InteractiveServer
<NavMenu />

<header class="@HeaderClass">

    <div class="hero-content">
        <h1>GYMTRACKER</h1>
        <p class="tagline">Track your overload</p>
    </div>

</header>

@code {

    [Inject] NavigationManager nav { get; set; } = default!;

    string HeaderClass = "normal-header";

    protected override void OnInitialized()
    {
        UpdateHeader();
        nav.LocationChanged += OnLocationChanged;
    }

    void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        UpdateHeader();
        InvokeAsync(StateHasChanged);
    }

    void UpdateHeader()
    {
        var uri = new Uri(nav.Uri);
        HeaderClass = uri.AbsolutePath == "/" ? "hero-header" : "normal-header";
    }

    public void Dispose()
    {
        nav.LocationChanged -= OnLocationChanged;
    }
}