.hero-header {
    height: 100vh;
    width: 100%;
    background: url('/images/Gym.avif') center/cover no-repeat;
    position: relative;
    color: orange;
}

.hero-content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}