@rendermode InteractiveServer
<NavMenu />

<header class="@HeaderClass">

    <div class="hero-content">
        <h1>GYMTRACKER</h1>
        <p class="tagline">Track your overload</p>
    </div>

</header>

@code {
    [Inject] NavigationManager nav { get; set; } = default!;

    string HeaderClass =>
        nav.Uri.EndsWith("/")
        ? "hero-header"
        : "normal-header";
}