.topbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 70px;
    background: #173B45;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color:white;
}

.logo {
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    color: #FF8225;
}

.burger {
    font-size: 26px;
    background: none;
    border: none;
    color: #FF8225;
    cursor: pointer;
    margin-left:15px;
}

.right {
    display: flex;
    align-items: center;
    gap: 0.8em;
    margin-top: 1.6em;
}

.login-btn {
    background: #FF8225;
    border: none;
    padding: 10px 18px;
    color: #173B45;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 1em;
}

.side-menu {
    position: fixed;
    top: 70px;
    right: 0; 
    width: 220px;
    height: 100%;
    background: #173B45;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    z-index: 999;
    box-shadow: -4px 0 12px rgba(0,0,0,0.3);
}

.side-menu a {
    color: #FF8225;
    text-decoration: none;
    font-size: 18px;
}
