.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: #12343b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 3;
}
