@page "/create-workout"
@attribute [Authorize]

@rendermode InteractiveServer

@using GymTracker.Data
@using GymTracker.Models
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Components.Authorization

@inject ApplicationDbContext db
@inject UserManager<ApplicationUser> userManager
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager nav

<h1>Create workout</h1>
<section class="card">
    <EditForm Model="model" OnValidSubmit="SaveWorkout">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            <label>Title</label>
            <InputText         @bind-Value="model.Title"        placeholder="Leg day, Upper body, Morning run..." />
        </div>

        <div class="form-group">
            <label>Date</label>
            <InputDate         @bind-Value="model.Date"        placeholder="Select workout date" />
        </div>

        <div class="form-group">
            <label>Notes</label>
            <InputTextArea         @bind-Value="model.Notes"
                                   placeholder="How did the workout feel?" />
        </div>

        <br />
        <button class="add-btn" type="submit">Save</button>
    </EditForm>
</section>
@code {
    WorkoutSession model = new()
    {
        Date = DateTime.Today
    };

    async Task SaveWorkout()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = await userManager.GetUserAsync(authState.User);

        model.UserId = user!.Id;
        model.CreatedAt = DateTime.Now;

        db.WorkoutSessions.Add(model);
        await db.SaveChangesAsync();

        nav.NavigateTo($"/dashboard?created={model.Id}");
    }
}