@page "/dashboard"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@rendermode InteractiveServer

@using GymTracker.Data
@using GymTracker.Models
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components
@using System.Linq

@inject AuthenticationStateProvider AuthStateProvider
@inject ApplicationDbContext db
@inject UserManager<ApplicationUser> userManager
@inject NavigationManager nav

<h1>My workouts</h1>

@if (showModal && created.HasValue)
{
    <div class="modal-overlay">
        <div class="modal">
            <h2> Workout created!</h2>
            <p>Great job! Let's add some exercises and reps.</p>

            <button class="add-btn" @onclick="GoToWorkout">
                Add exercises
            </button>

            <button class="undo-btn" @onclick="CloseModal">
                Maybe later
            </button>
        </div>
    </div>
}

<button class="add-btn" type="button" @onclick="GoCreate">Create workout</button>

@if (workouts == null)
{
    <p>Loading workouts...</p>
}
else if (!workouts.Any())
{
    <p>You have no workouts yet. Get started!</p>
}
else
{
    <ul>
        @foreach (var w in workouts)
        {
            <li>
                <a href="/workout/@w.Id">
                    <b>@w.Title</b> (@w.Date.ToShortDateString())
                </a>

                <button class="undo-btn" @onclick="() => DeleteWorkout(w.Id)">Delete</button>
            </li>
        }
    </ul>
}

@code {

    [Parameter]
    [SupplyParameterFromQuery]
    public int? created { get; set; }

    bool showModal = false;

    List<WorkoutSession>? workouts;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = await userManager.GetUserAsync(authState.User);

        workouts = db.WorkoutSessions
            .Where(w => w.UserId == user!.Id)
            .OrderByDescending(w => w.Date)
            .ToList();

        if (created.HasValue)
        {
            showModal = true;
        }
    }

    void GoCreate()
    {
        nav.NavigateTo("/create-workout");
    }

    void GoToWorkout()
    {
        nav.NavigateTo($"/workout/{created}");
    }

    void CloseModal()
    {
        showModal = false;
    }

    async Task DeleteWorkout(int id)
    {
        var workout = db.WorkoutSessions.FirstOrDefault(x => x.Id == id);
        if (workout != null)
        {
            db.WorkoutSessions.Remove(workout);
            await db.SaveChangesAsync();
        }

        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = await userManager.GetUserAsync(authState.User);

        workouts = db.WorkoutSessions
            .Where(w => w.UserId == user!.Id)
            .OrderByDescending(w => w.Date)
            .ToList();
    }
}