html, body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

* {
    box-sizing: border-box;
}

button {
    border-radius: 25px;
    padding: 1em 1.5em;
    font-weight: bold;
    border: none;
    font-size: 1em;
    margin-bottom: 1em;
}

button.add-btn {
    background-color: #FF8225;
    color: #173B45;
}

button.undo-btn {
    background-color: #B43F3F;
    color: #F8EDED;
}